<div class="center hero-unit">
  <h1>Welcome to Stat Streak</h1>

  <h2>
    This is the home page for the
  		<a root_path>Stat Streak</a>
  		webpage.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("statstreak_logo.png", alt: "Stat Streak Logo"), root_path %>